/*Váriáveis*/
:root {
    /*Tema de cores*/
    --primary: #FA492D;
    --secondary: #353232;
    --light: #fafafa;
    --grey-300: #AAA;
}

/*Base*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--secondary);
    font-family: 'Roboto', sans-serif;
    color: var(--light);
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;

}

/*Navbar*/

header nav a {
    text-decoration: none;
    color: var(--grey-300);
    margin-right: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s ease all;
}

header nav a:hover {
    color: var(--light);
    font-size: 1.05rem;
}

/*Manga principal*/
.manga-principal {
    font-size: 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.10)), url('/img/cover-principal.jpg');

    height: 450px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;


}

.manga-principal .container {
    margin-left: 100px;

}

.manga-principal .titulo {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.manga-principal .descricao {
    font-size: 1rem;
    font-weight: 300;

    max-width: 80%;

    margin-bottom: 3rem;
}

.botao {
    background-color: rgba(0, 0, 0, 0.60);
    color: var(--light);
    border: none;

    font-size: 1rem;

    padding: 15px;
    margin-right: 15px;

    cursor: pointer;
    transition: .5s ease all;
    box-shadow: 10px 5px 5px black;

}

.botao:hover {
    background-color: var(--light);
    color: var(--secondary);
    font-size: 1.05rem;
    box-shadow: 10px 5px 5px rgb(0, 0, 0);

}

.botao i {
    margin-right: 10px;
}

/*Carrosel*/

.box-manga {
    height: 400px;
    width: 200px;
    display: block;
    transition: all 0.3s ease-out;
}

.box-manga:hover {
    cursor: pointer;
    filter: brightness(0.50);
    position: relative;
}

.carrosel-mangas {
    margin-top: 0.5rem;
}

/*Infos*/

.card {
    display: flex;
}

.container-info {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.card .capa {
    margin-top: 15px;
    margin-bottom: 25px;
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
}